//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


//Colors

$buttonColor:#3597E6;

 ul{
     padding: 0;
     margin: 0;
 }
.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;

    .button-container{
        position: fixed;
        width: 25%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 85%;
        left: 37%;

        #button{
            box-shadow: 0px 0px 10px $buttonColor;
            display: flex;
            flex-direction: column;
            place-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 50%;
        }

        #button:hover{
            cursor: grab;
            transform: scale(120%);
        }
    
    }


    

    .ColorBox-container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .colorBox-content{
            display: flex;
            flex-direction: column;
            align-items: center;

            .content-list{
                opacity: 0;
                display: flex;
                align-items: center;
                flex-direction: column;

                height: 50vh;
                justify-content: space-between;

                .icon{
                    h1{
                        mix-blend-mode: "hard-light"
                    }
                }

                .icon:hover{
                    cursor: grab;
                    transform: scale(120%);
                }
            }
        }
    }
    .ColorBox-container:hover{
        .content-list{
            opacity: 1;
        }
    }
} 